*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100vh;
}
.esquerda{
    grid-column: 1;
    background: url('imgs/logo.jpg') center / cover;
    background-size: 99.99%;
}
.direita{
    background: url('imgs/cllr.png') no-repeat center / cover;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin: 10px;
}
.logo{
    font-size: 3vw;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    animation: escrever .5s .5s steps(40) infinite normal, steps 2s steps(40) infinite;
}
@keyframes steps {
    from{
        width: 0;
    }to{
        width: 240px;
    }
}
@keyframes escrever {
    from{
        border-right: 1px solid white;
    }to{
        border-right: 1px solid transparent;
    }
}
.lista{
    display: flex;
    gap: .5rem;
    list-style: none;
}
.lista li{
    padding: 10px;
    font-size: 1.2vw;
}
a{
    text-decoration: none;
    color: white;
}
.lista a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 10px white;
    border-radius: 20px;
    cursor: pointer;

}
#projetos, #habilidades, #certificados, #contatos{
    height: 100vh;
    width: 98.7vw;
}

.rodape{
    height: 50px;
    width: 98.7vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    align-items: center;
}
@media (max-width: 1180px) {
    body{
        display: block;
    }
    header{
        margin: 0;
        background-color: black;
    }
    .lista li{
        font-size: 14px;
    }
    .direita{
        width: 50vw;
        margin: 0 auto;
    }
    @keyframes steps {
        from{
            width: 0;
        }to{
            width: 210px;
        }
    }
}
@media (max-width: 810px) {
    .direita{
        width: inherit;
        margin: 0 10%;
    }
    @keyframes steps {
        from{
            width: 0;
        }to{
            width: 150px;
        }
    }
}
@media (max-width: 550px) {
    .direita{
        margin-left: -10%;
    }
    @keyframes steps {
        from{
            width: 0;
        }to{
            width: 95px;
        }
    }
}