#projetos{
    background-color: #0e76a8;
    text-align: center;
    color: white;
}
#projetos h1{
    padding: 10px;
    border: 1px solid;
}
.tmdb{
    padding: 5px;
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    overflow: auto;
}
.filmes{
    background-color: #00000033;
    border-bottom-right-radius: 30px ;
    padding: 5px;
    text-align: center;
    transform: scale(.9);
}
.filmes img{
    width: 150px;
    height: 200px;
}
.filmes:hover{
    transform: scale(1);
}
.filmes p{
    word-wrap: break-word;
    width: 150px;
}
@media (max-width: 1310px) {
    #projetos{
        height: auto;

    }
}
@media (max-width: 600px) {
    .filmes{
        margin: 0 auto;
    }
}
@media (max-width: 400px) {
    .filmes img{
        width: 100px;
        height: 150px;
    }
    .filmes{
        transform: scale(.7);
    }
    .filmes:hover{
        transform: scale(.8);
    }
}