#quem-sou-eu{
    background: linear-gradient(#0e76a8, white) ;
    padding: 30px;
}
fieldset{
    height: auto;
    font-size: 2.5vw;
    padding: 30px;
}
fieldset a{
    color: black;
    font-weight: 600;
}
abbr{
    text-decoration: none;
}
@media (max-width: 800px) {
    fieldset{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    fieldset{
        font-size: 14px;
    }
}